.article {
  width: 35%;
  position: relative;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 68, 75, 0.226);
  pointer-events: none;
  border-radius: 1rem;
  z-index: 99;
}

.imageSection {
  margin-top: 0.5rem;
  background-color: transparent;
  width: 100%;
  position: relative;
}

.imageSection img {
  width: 100%;
  border-radius: 1.5rem;
}

.imageSection p {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, #ff0000 1%, #ffc700 100%);
  padding: 0.2rem;
  margin: 0.5rem auto auto 0.5rem;
  font-size: 1.2rem;
  border-radius: 1rem;
}

.articleBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 1;
}

.articleTitle {
  font-size: 1.1rem;
  width: 100%;
  white-space: normal;
  color: rgb(255, 255, 255);
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.offerSection {
  display: flex;
  font-size: 0.7rem;
  flex-direction: column;
}

.offerSection {
  font-size: 1rem;
  gap: 0.2rem;
}

.articleHead {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem;
  align-items: center;
}

.discount {
  display: flex;
  flex-direction: column;
}

.discount p {
  color: #ffffff7a;
}

.discount p:nth-child(2) {
  text-decoration: line-through;
}

.prize {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e614fc;
}

.starSection {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  padding-right: 0.5rem;
}

.iconSection {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.iconSection a {
  transition: 0.3s ease-in-out;
}

.iconSection a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.iconSection a:nth-child(3):hover {
  cursor: default;
  transform: scale(1);
}

.icon {
  width: 1.3rem;
  height: 1.3rem;
}

.iconSection a:nth-child(3) img {
  width: auto;
  height: auto;
}
@media screen and (min-width: 720px) {
  .article {
    width: 20rem;
  }
  .offerSection {
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    /* justify-content: space-between; */
    gap: 1rem;
  }

  .articleHead {
    gap: 1rem;
  }

  .discount {
    gap: 0.1rem;
  }

  .imageSection img {
    width: 15rem;
    border-radius: 2rem;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
