.navSection {
  background-color: #1e1e1e;
  margin: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid rgb(255, 255, 255, 10%);
}

.navContaineer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.5rem;
}

.logoSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  gap: 0.5rem;
}

.hambargurMenu {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.iconSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  position: relative;
}

.searchbox {
  box-sizing: border-box;
  display: none;
  z-index: 1;
}

.searchbox:focus {
  outline: none;
}

.icon,
.searchicon,
.dollarIcon {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.hambargurMenu:hover,
.icon:hover,
.searchicon:hover,
.dollarIcon:hover {
  transform: scale(1.2);
  color: #b2b8c2;
}

.dollarIcon {
  display: none;
}

@media screen and (min-width: 720px) {
  .logoSection {
    width: 30%;
  }

  .searchicon {
    z-index: 2;
    background-color: #b2b8c2;
    color: #1e1e1e;
    font-size: 1rem;
  }

  .dollarIcon {
    display: block;
  }

  .icon,
  .dollarIcon {
    font-size: 2rem;
  }

  .hambargurMenu {
    display: none;
  }

  .iconSection {
    width: 70%;
    padding-left: 30%;
  }

  .searchbox {
    display: block;
    position: absolute;
    background-color: #b2b8c2;
    border: none;
    border-radius: 0.3rem;
    height: 1.7rem;
    padding: 0.2rem;
    width: 50%;
    left: 0;
  }

  .searchicon {
    font-size: 1.5rem;
    margin-left: 1%;
  }

  .searchicon:hover {
    transform: none;
    color: #1e1e1e;
  }
}

@media screen and (min-width: 1024px) {
  .iconSection {
    padding-left: 50%;
  }
  .searchbox {
    width: 67%;
  }
}
